/db/
node_modules/
yarn-error.log
.env
test/temp/
build/
deploy_solidity/node_modules/
deploy_solidity/artifacts/
artifacts/
cache/
.openzeppelin
scripts/utils/1weth_config.json
scripts/utils/3weth_config.json
safe-contracts/node_modules/